<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/CSS/responsive.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forever 21</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="js/hieuung.js"></script>
    <link rel="stylesheet" href="/CSS/dropdown.css">
    <link rel="stylesheet" href="/CSS/stylescon.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="/CSS/stylesslide.css">
    <script src="js/selectimg.js"></script>
    <link rel="stylesheet" href="/CSS/hoverimg.css">
    <script src="js/hoverimg.js"></script>
    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/CSS/formdk.css">
    <style>
    span.sang {
        text-align: center;
        margin-left: 40%;
    }
    </style>
</head>

<body>
    <div class="header-mobie">
        <div class="top">
            <div class="opt-barsss">
                <img src="/images/Vector.svg" alt="">
                <div class="miano"><a href=""><img src="/images/FOREVER 21.svg" alt=""></a></div>
            </div>
            <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
                    <a href="/dangky">
                        <ion-icon class="person-outline" name="person-outline"></ion-icon>
                    </a>
                <input type="checkbox" name="" id="form-ipt">

                <div class="form">
                    <form onsubmit="return false" action="">
                        <h1>Login</h1>
                        <div class="luachon">
                            <label for="nhap1"><span>Login</span></label>
                            <label for="nhap2"><span>Create account</span></label>
                        </div>
                        <hr>
                        <input type="radio" name="nhap" id="nhap1" checked>
                        <div class="an">
                            <h6 class="notification">

                            </h6>
                            <fieldset>
                                <legend>
                                    EMAIL
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_email" type="text" placeholder="YOUR EMAIL">
                            </fieldset>
                            <fieldset>
                                <legend>
                                    PASS WORD
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_password" type="text" placeholder="YOUR PASSWORD">
                            </fieldset>
                            <div class="checki">
                                <div class="remember">
                                    <input type="checkbox">
                                    <span>Remember me</span>
                                </div>
                                <div>
                                    <span><u>Forgot password?</u></span>
                                </div>
                            </div>
                            <button class="dn">
                                <span>Login</span>
                            </button>
                            <button class="dn">
                                <span>Check Order</span>
                            </button>
                            <button class="dn">
                                <span>Check Balance of Gift Card</span>
                            </button>
                            <span class="cangiuaform">Or login using one of these</span>
                            <div class="dnb"><a href=""><img src="/images/Rectangle 90.png" alt=""></a></div>
                            <div class="dnb"><a href=""><img src="/images/Rectangle 91.png" alt=""></a></div>
                            <div class="dnb"><a href=""><img src="/images/Rectangle 92.png" alt=""></a></div>
                        </div>
                        <input type="radio" name="nhap" id="nhap2">
                        <div class="create">
                            <fieldset>
                                <legend>
                                    Your Name
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_yourname" type="text" placeholder="YOUR NAME">
                            </fieldset>
                            <fieldset>
                                <legend>
                                    Last Name
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_lastname" type="text" placeholder="LAST NAME">
                            </fieldset>
                            <span class="Bir">Birthday</span>
                            <div class="birthday" width="100%">
                                <fieldset>
                                    <legend>
                                        Date of birth
                                        <img src="/images/_ (1).png" alt="">
                                    </legend>
                                    <input  class="form_control form_control_birthday" type="date" placeholder="">
                                </fieldset>
                            </div>
                            <fieldset>
                                <legend>
                                    PHONE
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_phone" type="text" placeholder="YOUR PHONE">
                            </fieldset>
                            <fieldset>
                                <legend>
                                    EMAIL
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_email_signup" type="text" placeholder="YOUR EMAIL">
                            </fieldset>
                            <fieldset>
                                <legend>
                                    PASSWORD
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_password_signup" type="text" placeholder="PASSWORD">
                            </fieldset>
                            <ul>
                                <div class="canli">
                                    <li>8 characters minimum</li>
                                    <li>
                                        One letter
                                    </li>
                                </div>
                                <li>One number</li>
                            </ul>
                            <h6 class="notification_signup"></h6>
                            <div class="Confirm">
                                <fieldset>
                                    <legend>
                                        CONFIRM PASSWORD
                                        <img src="/images/_ (1).png" alt="">
                                    </legend>
                                    <input class="form_control form_control_confirmpassword_signup" type="text" placeholder="PASSWORD">
                                </fieldset>
                            </div>
                            <h2>OPTIONAL</h2>
                            <div class="dydk">
                                <input type="checkbox" name="" id="">
                                <span>Please email me the latest fashion news and exclusive offers. By signing up for
                                    marketing emails, you are requesting that Forever 21 send promotional offers to this
                                    email address and accept our <a href="">Terms & Privacy Policy</a>.</span>
                            </div>
                            <div class="dydk">
                                <input type="checkbox" name="" id="">
                                <span>By checking this box, you agree to receive recurring automated promotional and
                                    personalized marketing text messages (e.g. cart reminders) from Forever 21 at the cell
                                    number used when signing up. Consent is not a condition of any purchase. Reply HELP for
                                    help and STOP to cancel. Msg frequency varies. Msg & data rates may apply. View <a
                                        href="">Terms & Privacy Policy</a>.</span>
                            </div>
                            <button type="submit" class="dk">
                                <span>Create Account</span>
                            </button>
                            <span class="xongthoi">By clicking 'Create Account' you agree to the Forever 21 <a href="">Terms
                                    & Privacy</a>.</span>
                            <span class="xongthoi"><a href="">Policy</a></span>
                        </div>
                    </form>
                </div>
                <label class="overlay" for="form-ipt"></label>
                <ion-icon name="bag-outline"></ion-icon>
            </div>
        </div>
        <div class="bottom">
            <input class="cssinput" type="text" placeholder="Search">
            <ion-icon name="search-outline"></ion-icon>
        </div>
    </div>
    <header class="header-pc">
        <div class="header-topbar">
            <div class="help">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                <span></span>
            </div>
            <div class="co">
                <img src="/images/Group 1.svg" alt="">
                <span>VietNam</span>
            </div>
        </div>
        <div class="header-main">
            <div class="logo">
                <a href=""><img src="/images/FOREVER 21.svg" alt=""></a>
            </div>
            <div class="search">
                <input type="text">
                <ion-icon name="search-outline"></ion-icon>
            </div>
            <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
                <div class="user">
                    <a href="/user/dangky">
                        <ion-icon class="person-outline" name="person-outline"></ion-icon>
                    </a>
                </div>

                <!-- <input type="checkbox" name="" id="form-ipt">

                <div class="form">
                    <form onsubmit="return false" action="">
                        <h1>Login</h1>
                        <div class="luachon">
                            <label for="nhap1"><span>Login</span></label>
                            <label for="nhap2"><span>Create account</span></label>
                        </div>
                        <hr>
                        <input type="radio" name="nhap" id="nhap1" checked>
                        <div class="an">
                            <h6 class="notification">

                            </h6>
                            <fieldset>
                                <legend>
                                    EMAIL
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_email" type="text" placeholder="YOUR EMAIL">
                            </fieldset>
                            <fieldset>
                                <legend>
                                    PASS WORD
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_password" type="text" placeholder="YOUR PASSWORD">
                            </fieldset>
                            <div class="checki">
                                <div class="remember">
                                    <input type="checkbox">
                                    <span>Remember me</span>
                                </div>
                                <div>
                                    <span><u>Forgot password?</u></span>
                                </div>
                            </div>
                            <button class="dn">
                                <span>Login</span>
                            </button>
                            <button class="dn">
                                <span>Check Order</span>
                            </button>
                            <button class="dn">
                                <span>Check Balance of Gift Card</span>
                            </button>
                            <span class="cangiuaform">Or login using one of these</span>
                            <div class="dnb"><a href=""><img src="/images/Rectangle 90.png" alt=""></a></div>
                            <div class="dnb"><a href=""><img src="/images/Rectangle 91.png" alt=""></a></div>
                            <div class="dnb"><a href=""><img src="/images/Rectangle 92.png" alt=""></a></div>
                        </div>
                        <input type="radio" name="nhap" id="nhap2">
                        <div class="create">
                            <fieldset>
                                <legend>
                                    Your Name
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_yourname" type="text" placeholder="YOUR NAME">
                            </fieldset>
                            <fieldset>
                                <legend>
                                    Last Name
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_lastname" type="text" placeholder="LAST NAME">
                            </fieldset>
                            <span class="Bir">Birthday</span>
                            <div class="birthday" width="100%">
                                <fieldset>
                                    <legend>
                                        Date of birth
                                        <img src="/images/_ (1).png" alt="">
                                    </legend>
                                    <input  class="form_control form_control_birthday" type="date" placeholder="">
                                </fieldset>
                            </div>
                            <fieldset>
                                <legend>
                                    PHONE
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_phone" type="text" placeholder="YOUR PHONE">
                            </fieldset>
                            <fieldset>
                                <legend>
                                    EMAIL
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_email_signup" type="text" placeholder="YOUR EMAIL">
                            </fieldset>
                            <fieldset>
                                <legend>
                                    PASSWORD
                                    <img src="/images/_ (1).png" alt="">
                                </legend>
                                <input class="form_control form_control_password_signup" type="text" placeholder="PASSWORD">
                            </fieldset>
                            <ul>
                                <div class="canli">
                                    <li>8 characters minimum</li>
                                    <li>
                                        One letter
                                    </li>
                                </div>
                                <li>One number</li>
                            </ul>
                            <h6 class="notification_signup"></h6>
                            <div class="Confirm">
                                <fieldset>
                                    <legend>
                                        CONFIRM PASSWORD
                                        <img src="/images/_ (1).png" alt="">
                                    </legend>
                                    <input class="form_control form_control_confirmpassword_signup" type="text" placeholder="PASSWORD">
                                </fieldset>
                            </div>
                            <h2>OPTIONAL</h2>
                            <div class="dydk">
                                <input type="checkbox" name="" id="">
                                <span>Please email me the latest fashion news and exclusive offers. By signing up for
                                    marketing emails, you are requesting that Forever 21 send promotional offers to this
                                    email address and accept our <a href="">Terms & Privacy Policy</a>.</span>
                            </div>
                            <div class="dydk">
                                <input type="checkbox" name="" id="">
                                <span>By checking this box, you agree to receive recurring automated promotional and
                                    personalized marketing text messages (e.g. cart reminders) from Forever 21 at the cell
                                    number used when signing up. Consent is not a condition of any purchase. Reply HELP for
                                    help and STOP to cancel. Msg frequency varies. Msg & data rates may apply. View <a
                                        href="">Terms & Privacy Policy</a>.</span>
                            </div>
                            <button type="submit" class="dk">
                                <span>Create Account</span>
                            </button>
                            <span class="xongthoi">By clicking 'Create Account' you agree to the Forever 21 <a href="">Terms
                                    & Privacy</a>.</span>
                            <span class="xongthoi"><a href="">Policy</a></span>
                        </div>
                    </form>
                </div>
                <label class="overlay" for="form-ipt"></label> -->
                <a class="CSScart" href="cart.html">
                    <ion-icon class="bag-outline" name="bag-outline"></ion-icon>
                </a>
            </div>
        </div>
        <div class="header-bottom">
            <label for="showdropdown">
                <div class="opt-bars">
                    <img src="/images/Vector.svg" alt="">
                    <span>Cửa hàng theo thể loại</span>
                </div>
            </label>
            <div class="hbottom_right">
                <div>
                    <img src="/images/Group 4.svg" alt="">
                    <span class="fix">Thẻ tín dụng</span>
                </div>
                <div>
                    <a href="">
                        <ion-icon name="gift-outline"></ion-icon>
                        <span> Thẻ quà</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="PR">
        <div class="PR1">
            <ion-icon name="chevron-back-outline"></ion-icon>
            <div>
                <span class="slideshow">Giảm tới 70% mọi thứ</span>
                <!-- <span class="slideshow">Shop Now. Pay in 4 with Klarna.*</span>
                <span class="slideshow">Click & Collect | Buy Online, Ship FREE to Store</span>
                <span class="slideshow">Take an Extra 50% Off Sale | Code: EXTRA50</span> -->
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <input id="showdropdown" type="checkbox" hidden>
        <nav id="navbar" class="navbar">
            
        </nav>
    </div>
    <div class="banner">
        <a href="">
            <img src="/images/0513_UPDATED_FOREVERLA_LP_HEADER_D_M.gif" alt="">
        </a>
    </div>
    <div class="qc">
        <b>Sản phẩm mới</b>
    </div>
    <div class="banner6" id="newProduct">

    </div>
    <div class="qc">
        <b>Sản phẩm xu hướng</b>
    </div>
    <div class="banner6" id="productHot">
        
    </div>
    <div class="banner2">
        <a href="trangchitiet.html">
            <div><img src="/images/diuda.webp" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/diuda2.jpg" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/diuda3.webp" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/diuda4.jpg" alt=""></div>
        </a>
    </div>
    <div class="banner3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/i6t47R6zWJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="banner4">
        <a href=""><img src="/images/Rectangle 17.jpg" alt=""></a>
    </div>
    <div class="banner2">
        <a href="">
            <div><img src="/images/Rectangle 18.png" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/Rectangle 19.jpg" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/Rectangle 22.png" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/Rectangle 20.png" alt=""></div>
        </a>
    </div>
    <div class="banner3">
        <img src="/images/xinh.jpg" alt="">
    </div>
    <div class="banner2">
        <a href="">
            <div><img src="/images/beach.jpg" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/beach2.jpg" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/Rectangle 31.png" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/beach3.jpg" alt=""></div>
        </a>
    </div>
    <div class="banner5">
        <img src="/images/BARBIE_D_M.jpg" alt="">
    </div>
    <div class="banner2">
        <a href="">
            <div><img src="/images/xau1.jpg" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/xau2.jpg" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/xau3.webp" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/xau4.jpg" alt=""></div>
        </a>
    </div>
    <div class="banner4">
        <a href=""><img src="/images/Rectangle 40.png" alt=""></a>
    </div>
    <div class="banner3">
        <img src="/images/Rectangle 47.png" alt="">
    </div>
    <div class="banner2">
        <a href="">
            <div><img src="/images/Rectangle 42.png" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/Rectangle 43.png" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/Rectangle 44.png" alt=""></div>
        </a>
        <a href="">
            <div><img src="/images/Rectangle 45.png" alt=""></div>
        </a>
    </div>

            <!-- <div class="banner6-1">
            <a class="chuyen2" href="">
                <div class="hinh">
                    <img src="/images/Rectangle 60ke3.png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/00460357-05.webp" alt=""></label>
                    <label for="option1"></label>
                    <label for="option2"></label>
                    <label for="option3"></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Floral Print Midi Dress</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a class="chuyen3" href="">
                <div class="hinh">
                    <img src="/images/Rectangle 60 (1).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 4.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 4-1.png" alt=""></label>
                    <label for="option2"></label>
                    <label for="option3"></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Floral Print Midi Dress</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a href="">
                <div class="hinh">
                    <img src="/images/Rectangle 60 (2).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 5.png" alt=""></label>
                    <label for="option1"></label>
                    <label for="option2"></label>
                    <label for="option3"></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Denim Dolphin-Hem Shacket</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a href="">
                <div class="hinh">
                    <img src="/images/Rectangle 60 (3).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 6.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 7.png" alt=""></label>
                    <label for="option2"><img src="/images/Ellipse 9.png" alt=""></label>
                    <label for="option3"></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Plunging Surplice Mini Dress</span><br>
                    <span class="gia">

                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a href="">
                <div class="hinh">
                    <img src="/images/Rectangle 60 (4).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 8.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 10.png" alt=""></label>
                    <label for="option2"></label>
                    <label for="option3"></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Crochet-Trim Maxi Dress</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div> -->
    <div class="banner6 banner6-2">
    </div>
    </div>
    <!-- <div class="banner6">
        <div class="banner6-1">
            <a class="chuyen1" href="">
                <div class="hinh">
                    <img src="/images/62 (1).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 17.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 17-1.png" alt=""></label>
                    <label for="option2"></label>
                    <label for="option3"></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Celestial Print Open-Back Midi Dress</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span> 
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a class="chuyen2" href="">
                <div class="hinh">
                    <img src="/images/62 (6).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 18.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 18-1.png" alt=""></label>
                    <label for="option2"><img src="/images/Ellipse 18-3.png" alt=""></label>
                    <label for="option3"><img src="/images/Ellipse 18-4.png" alt=""></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Active Seamless Thick Ribbed Leggings</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a class="chuyen3" href="">
                <div class="hinh">
                    <img src="/images/62 (5).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 19.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 19-1.png" alt=""></label>
                    <label for="option2"><img src="/images/Ellipse 19-2.png" alt=""></label>
                    <label for="option3"><img src="/images/Ellipse 19-3.png" alt=""></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Sweater-Knit Crisscross Halter Bodysuit</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a href="">
                <div class="hinh">
                    <img src="/images/62 (4).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 20.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 20-1.png" alt=""></label>
                    <label for="option2"><img src="/images/Ellipse 20-2.png" alt=""></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span class="candoi">Mineral Wash Quilted Jacket</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a href="">
                <div class="hinh">
                    <img src="/images/62 (3).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 21.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 21-1.png" alt=""></label>
                    <label for="option2"><img src="/images/Ellipse 21-2.png" alt=""></label>
                    <label for="option3"><img src="/images/Ellipse 21-3.png" alt=""></label>
                    <label for="option4"><img src="/images/Ellipse 21-4.png" alt=""></label>
                     <label for="option5"><img src="/images/Ellipse 21-5.png" alt=""></label>
                        <label for="option6"><img src="/images/Ellipse 21-6.png" alt=""></label> 
                    <label for="option3"></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                    <input type="radio" id="option4" name="mau">
                    <input type="radio" id="option5" name="mau">
                    <input type="radio" id="option6" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span class="candoi">Fleece Button-Front Shacket</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
        <div class="banner6-1">
            <a href="">
                <div class="hinh">
                    <img class="px" src="/images/62 (2).png" alt="">
                </div>
            </a>
            <div class="bosung">
                <div class="option-color">
                    <label for="option"><img src="/images/Ellipse 22.png" alt=""></label>
                    <label for="option1"><img src="/images/Ellipse 22-1.png" alt=""></label>
                    <input type="radio" id="option" name="mau">
                    <input type="radio" id="option1" name="mau">
                    <input type="radio" id="option2" name="mau">
                    <input type="radio" id="option3" name="mau">
                </div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <a href="">
                <div class="decription">
                    <span>Rhinestone Hello Kitty Zip-Up Hoodie</span><br>
                    <span class="gia">
                        <b>₫823,332</b>
                        <s>₫1,176,300</s>
                        <span>30% OFF</span>
                    </span><br>
                    <span class="kieuchu">Summer Deals!</span><br>
                    <span class="mamau">Matching Item Available</span><br>
                    <span class="rating"><img src="/images/Group 30.svg" alt=""><span>(31)</span></span>
                    <span>676 Comments</span>
                </div>
            </a>
        </div>
    </div> -->
    <div class="ketthuc">
        <h2>Yêu thích mãi mãi</h2>
    </div>
    <div class="banner8">
        <div class="box">
            <a href="">
                <div class="img-container">
                    <img src="/images/image 2.png" alt="">
                </div>
                <div class="content">
                    <a class="loi" href="">
                        <!-- We've got the hottest women's dresses to add to your wardrobe. Feel yourself in florals and cute
                        ruffles on a day out. Then switch gears with a sexy bodycon or a cute mini dress on fun night
                        out. -->
                        Chúng tôi có những bộ váy nữ đẹp nhất để bổ sung vào tủ quần áo của bạn.
                         Cảm thấy mình trong hoa và dễ thương xù lông trong một ngày đi chơi.
                          Sau đó chuyển sang trang phục khác với một chiếc áo bó sát gợi cảm
                    </a>
                    <button class="filter_banner8">Shop Dresses</button>
                </div>
            </a>
        </div>
        <div class="box">
            <a href="">
                <div class="img-container">
                    <img src="/images/image 3.png" alt="">
                </div>
                <div class="content">
                    <a class="loi" href="">
                        <!-- Stay on top on it with the latest styles from Forever 21! Dress your look of the day in
                        off-the-shoulder tops, camis, and button-front shirts. Up the ante, with a sexy sequin top for
                        your night out. Shop women's tops from $3.99.</a> -->
                        Luôn dẫn đầu với những phong cách mới nhất từ ​​Forever 21! Mặc trang phục trong ngày của bạn áo trễ vai, áo dây và áo sơ mi cài cúc trước. Nổi bật với áo sequin gợi cảm cho buổi tối của bạn</a>
                    <button class="filter_banner8">Shop Tops</button>
                </div>
            </a>   
        </div>
        <div class="box">
            <a href="">
                <div class="img-container">
                    <img src="/images/image 4.png" alt="">
                </div>
                <div class="content">
                    <a class="loi" href="">
                        <!-- Come shop our gorgeous plus size styles at Forever 21. Discover the hottest styles and outfits
                        for your everyday. Always on trend, we’ve got a fabulous selection of plus size denim, plus size
                        jackets, and plus sizes dresses.</a> -->
                        Hãy đến mua sắm những phong cách ngoại cỡ tuyệt đẹp của chúng tôi tại Forever 21. Khám phá những phong cách và trang phục hot nhất cho hàng ngày của bạn. Luôn bắt kịp xu hướng, chúng tôi có nhiều lựa chọn tuyệt vời về những sản phẩm cỡ lớn.</a>
                    <button class="filter_banner8">Shop Plus</button>
                </div>
            </a>
        </div>
        <div class="box">
            <a href="">
                <div class="img-container">
                    <img src="/images/image 5.png" alt="">
                </div>
                <div class="content">
                    <a class="loi" href="">
                        <!-- Need a wardrobe change? Come check out our men’s clothing at Forever 21. We’ve got all the
                        newest trends and most-wanted pieces up to date. Whether you’re kicking it casual or going all
                        out, we got you covered. -->
                    Cần thay đổi tủ quần áo? Hãy đến xem quần áo nam của chúng tôi tại Forever 21. Chúng tôi cập nhật tất cả các xu hướng mới nhất và những món đồ được săn đón nhiều nhất. Cho dù bạn đang đá nó bình thường hay đi ra ngoài, chúng tôi đã bảo vệ bạn.
                    </a>
                        <button class="filter_banner8"> Shop Men </button>
                </div>
            </a>
        </div>
    </div>
    <footer>
        <h2>Sản phẩm được phát triển từ Lê Minh Chiến</h2>
        <div><img style="width: 100px;" height="150px" src="images/chien.jpg" alt=""></div>
        <div></div>
    </footer>
    <!-- <footer>
        <div class="footer-box">
            <div>
                <a href="">
                    <h2>Company Info</h2>
                </a>
            </div>
            <div class="chinhchu">
                <a href="">
                    About Us
                    Careers
                    Social Responsibility
                    Affiliate Program
                    Business With Us
                    Press & Talent
                    Find a Store
                    Site Map
                    Forever 21 Gives Back
                </a>
            </div>
        </div>
        <div class="footer-box">
            <div>
                <a href="">
                    <h2>Help</h2>
                </a>
            </div>
            <div class="chinhchu">
                <a href="fodn.php">Contact Us</a> <br>
                <a href="">
                    Order Status
                    Shipping Info
                    Online Returns & Exchanges
                    Store Return & Exchange
                    Size Guide
                    FAQ
                    Buy Online, Pick Up In-Store
                </a>
            </div>
        </div>
        <div class="footer-box">
            <div>
                <a href="">
                    <h2>Quick Links</h2>
                </a>
            </div>
            <div class="chinhchu">
                <a href="">
                    Special Offers
                    Gift Cards
                    Student Discount
                    Blog
                    Privacy Policy
                    Your California Privacy Rights
                    CA Transparency in Supply Chains Act
                    Terms of Use
                    Web Accessibility Statement
                </a>
            </div>
        </div>
        <div class="footer-box">
            <div>
                <a href="">
                    <h2>Forever Rewarded</h2>
                </a>
            </div>
            <div class="chinhchu">
                <a href="">
                    Card Benefit
                    Manage Account
                    - Forever 21 Credit Card
                    - Forever 21 VISA Credit Card
                </a>
            </div>
        </div>
    </footer> -->
    <div class="banner9">
        <a href=""><img src="/images/vector (4).png" alt=""></a>
        <a href=""><img src="/images/vector (9).png" alt=""></a>
        <a href=""><img src="/images/vector (1).png" alt=""></a>
        <a href=""><img src="/images/vector (8).png" alt=""></a>
        <a href=""><img src="/images/vector (7).png" alt=""></a>
        <a class="xong" href=""><img src="/images/vector (6).png" alt=""></a>
        <a class="xong" href=""><img src="/images/vector (5).png" alt=""></a>
    </div>
    <div class="banner10">
        <span>© 2022 Mãi mãi 21 Bảo lưu mọi quyền.</span>
    </div>
    <script type="module" src="js/config.js"></script>
    <script type="module" src="js/person.js"></script>
    <script src="/js/homepage.js"></script>
</body>

</html>